@font-face {
    src: url("../fonts/BebasNeue-Regular.otf");
    font-family: Bebas;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo-big {
    position: absolute;
    overflow: hidden;
    pointer-events: none;

    width: 200%;
    height: auto;

    top: 50%;
    left: 50%;
    margin-left: -2vh;

    transform: translate(-50%, -50%);
}

.box-logo-holder {
    position: absolute;
    right: 0;
    overflow: hidden;
    background-color: #140e4a;

    width: 55%;
    height: 100vh;
}

.break {
    height: 2vh;
    width: auto;
}

.box-login-holder {
    display: flex;
    flex-direction: column;

    position: absolute;
    background-color: red;

    width: 45%;
    height: 40vh;

    top: 50%;

    align-items: center;
    justify-content: center;

    transform: translate(0%, -50%);
}

.box-text-login {
    background-color: white;
    border-radius:2.5em;

    height: 6vh;
    width: 46vh;
}

.box-text-login1 {
    background-color: white;
    border-radius:2.5em;

    height: 6vh;
    width: 46vh;
}
