@font-face {
    src: url("../fonts/BebasNeue-Regular.otf");
    font-family: Bebas;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo-big {
    position: absolute;
    overflow: hidden;
    pointer-events: none;

    width: 200%;
    height: auto;

    top: 50%;
    left: 50%;
    margin-left: -2vh;

    transform: translate(-50%, -50%);
}

.box-logo-holder {
    position: absolute;
    right: 0;
    overflow: hidden;
    background-color: #140e4a;

    width: 55%;
    height: 100vh;
}

.box-login-holder {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: absolute;
    background-color: red;

    width: 45%;
    height: 52vh;

    top: 50%;

    align-items: center;

    transform: translate(0%, -50%);
}

.box-login-register-holder {
    display: flex;

    height: auto;
    width: auto;
}

.btn-sign-up-select, .btn-sign-in-select {
    height: 6vh;
    width: 20vh;
}

.btn-sign-up-select {
    background-color: green;
}

.btn-sign-in-select {
    background-color: yellow;
}

.box-login-text {
    height: 13vh;
    width: 30vh;
}

.text-login {
    position: absolute;
    content: "SIGN IN";
    display: block;
    text-align: center;
    font-family: Bebas, serif;
    color: green; font-size: 4.4vh;


    width: 24vh;
    height: 4vh;

    left: 50%;
    top: 20%;


    transform: translate(-50%, 0%);
}

.box-text-login {
    background-color: white;
    border-radius:2.5em;

    height: 6vh;
    width: 46vh;
}

.break {
    height: 2vh;
    width: auto;
}

.box-text-login1 {
    background-color: white;
    border-radius:2.5em;

    height: 6vh;
    width: 46vh;
}

.btn-sign-up {
    background-color: white;
    border-radius:0.5em;

    height: 6vh;
    width: 20vh;
}