body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo-big {
    position: absolute;
    overflow: hidden;
    pointer-events: none;

    width: 200%;
    height: auto;

    top: 50%;
    left: 50%;
    margin-left: -2vh;

    transform: translate(-50%, -50%);
}

.box-logo-holder {
    position: absolute;
    right: 0;
    overflow: hidden;
    background-color: #140e4a;

    width: 55%;
    height: 100vh;
}

.box-login-holder {
    position: absolute;
    background-color: #140e4a;

    width: 45%;
    height: 100vh;
}

.text-login-field, .text-password-field {
    position: absolute;
    margin: auto;

    width: 0;
    height: 0;


    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

input[type=login], input[type=password] {
    background-color: white;
    margin: auto;

    height: 6vh;
    width: 46vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

input[type=login] {

    left: 50%;
    top: 50%;

    margin-top: 6vh;

    transform: translate(-50%, -50%);
}

input[type=password] {

    left: 50%;
    top: 50%;

    margin-top: -6vh;

    transform: translate(-50%, -50%);
}