@font-face {
    src: url("fonts/BebasNeue-Regular.otf");
    font-family: Bebas;
}

@font-face {
    src: url("fonts/CadillacPersonalUseItalic-K7pny.ttf");
    font-family: CADILLAC;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-menu {
    position:relative;
    height: 10vh;
    background-color: #0f0b2d;
}

.btn-logo {
    position:absolute;
    border: none;
    height: 10vh;
    width: 14vh;

    left: 12vh;
    top: 50%;
    transform: translate(-50%, -50%);

}

.img-logo {
    position: absolute;
    pointer-events: none;

    width: 26vh;
    height: auto;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.box-login {
    position: absolute;
    display: block;
    background-color: #140e4a;
    border-radius:0.5em;

    height: 5vh;
    width: 16vh;

    margin-right: 6vh;
    right: 0;
    top: 50%;

    transform: translate(0%, -50%);
}

:root {
    --login-margin: 0.8vh
}

.box-login::after {
    position: absolute;

    content: "SIGN IN";
    display: block;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;
    overflow: hidden;
    white-space: nowrap;

    left: 50%;
    bottom: 43%;

    width: auto;

    transform: translate(-50%, 50%);
}

.box-login::before {
    position: absolute;
    pointer-events: none;

    content: "SIGN UP";
    display: block;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;
    overflow: hidden;
    white-space: nowrap;

    margin-left: -1.8vh;
    bottom: 43%;

    transform: translate(-100%, 50%);
}

.btn-sign-up {
    position: absolute;
    display: block;
    height: 5vh;
    width: 16vh;

    margin-right: 6vh;
    right: 0;
    top: 50%;

    transform: translate(-100%, -50%);
}


.line {
    position: absolute;
    background-color: #ffcc00;

    height: 7px;
    width: 100%;

    margin-top: 10vh;

    transform: translate(0, -100%);
}

.box-user-holder {
    position: absolute;
    display: flex;

    height: 5vh;
    width: 16vh;

    margin-right: 6vh;
    right: 0;
    top: 50%;

    transform: translate(0%, -50%);
}

.text-username {
    position: absolute;
    text-align: right;

    content: "SIGN UP";
    display: block;
    font-family: "Arial", serif;
    color: #ffcc00;
    font-size: 3.4vh;

    width: auto;
    bottom: 43%;

    left: 16vh;

    transform: translate(-100%, 10%);
}



.text-balance {
    position: absolute;
    text-align: right;

    content: "SIGN UP";
    display: block;
    font-family: "Helvetica", serif;
    color: #ffcc00;
    font-size: 1.9vh;

    width: auto;
    bottom: 43%;

    left: 14vh;

    transform: translate(-100%, 105%);
}

.btn-log-out {
    position: absolute;

    background-size:100% 100%;
    background-image: url("../Visual/index/png/logout-default.png");
    width: 1.8vh;
    height: 1.8vh;

    bottom: 43%;

    left: 16vh;

    transform: translate(-100%, 120%);
}

.btn-log-out:hover {
    background-image: url("../Visual/index/png/logout-hover.png");
}