body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-menu {
    position:relative;
    height: 12vh;
    background-color: #0f0b2d;
}

.btn-logo {
    position:absolute;
    border: none;
    height: 130px;
    width: 240px;

    left: 1.75%;
    top: 50%;
    transform: translate(0, -50%);

}

.img-logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    width: 35vh;
    height: auto;

    margin-left: 14vh;
    top: 50%;
    transform: translate(-50%, -50%);
}