body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container-bidding {
    position: absolute;
    display: flex;

    left: 50%;
    top: 44%;

    transform: translate(-50%, -50%);
}

.flex-container-numbers {
    display: flex;
    flex-wrap: wrap;

    width: calc(1.2*1020px);
}

.box-zero {
    background-color: green;
    outline: #ffcc00 solid 4px;

    width: calc(1.2*100px);
    height: calc(1.2*384px);
}

.box-zero:hover {
    background-color: yellowgreen;
}

.box-number-parent {
    background-color: pink;
    outline: #ffcc00 solid 4px;

    width: calc(1.2*85px);
    height: calc(1.2*128px);
}

.box-number {
    background-color: green;
    outline: #ffcc00 solid 4px;

    width: calc(1.2*85px);
    height: calc(1.2*128px);
}

.box-number:hover {
    background-color: yellowgreen;
}

.oval-number-red, .oval-number-black, .oval-number-green {
    position: relative;
    width: 120px;
    height: 70px;
    border-radius: 50%;

    left: 50%;
    top: -50%;

    transform:  translate(-50%, -50%) rotate(-90deg);
}

.oval-number-red {
    pointer-events: none;
    background-color: red;
}

.oval-number-black {
    pointer-events: none;
    background-color: black;
}

.oval-number-green {
    pointer-events: none;
    background-color: green;

    outline: #ffcc00 0.6vh solid;

    left: 50%;
    top: 8%;

    transform:  translate(-50%, -50%) rotate(-90deg);
}

.text-number {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    pointer-events: none;
    text-align: center;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.box-range-big {
    background-color: black;

    width: 340px;
    height: 110px;
}

.box-range-small {
    background-color: yellowgreen;

    width: 170px;
    height: 110px;
}

.box-holder {
    position: absolute;
    height: calc(100% - 10vh);
    width: 100%;

    background-color: forestgreen;
}

.element-reset, .element-reset-zero{
    position: absolute;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    background-size:100% 100%;
    background-image: url("./png/x-default.png");
    display: block;
    width: 1.8vh;
    height: 1.8vh;

    transform: translate(450%, 50%);
}

.element-reset-zero {
    transform: translate(550%, 50%);
}

.element-reset:hover {
    background-image: url("./png/x-hovered.png");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}

input[type=text] {

    position: relative;
    border-radius:2.5em;
    text-align: center;

    display: block;
    font-family: "Helvetica", serif;

    padding-left: 2.2vh;
    font-size: 2.4vh;

    height: 6vh;
    width: 42vh;

    left: 50%;
    top: 8vh;

    transform: translate(-50%, -50%);
}

.text-total-bid {
    position: relative;
    border-radius:2.5em;
    text-align: center;

    color: #ffcc00;

    font-family: "Bebas", serif;

    padding-left: 2.2vh;
    font-size: 3.4vh;

    height: 6vh;
    width: 42vh;

    left: 50%;
    top: 50%;

    transform: translate(175%, 1140%);
}

.btn-play {
    position: absolute;
    background-color: #1f1f68;
    border-radius:1.5em;
    vertical-align: middle;
    cursor:pointer;

    height: 6vh;
    width: 20vh;

    border-style: solid;
    border-width: 0.4vh;
    border-color: #ffcc00;

    left: 52%;
    top: 220%;

    transform: translate(-50%, -50%);
}

.text-play {
    position: absolute;
    user-select: none;

    content: "SIGN IN";
    display: block;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;
    overflow: hidden;
    white-space: nowrap;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}