body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container-bidding {
    position: absolute;
    display: flex;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.flex-container-numbers {
    display: flex;
    flex-wrap: wrap;

    width: 1020px;
}

.box-zero {
    background-color: orange;

    width: 100px;
    height: 384px;
}

.box-number-red, .box-number-green {
    width: 85px;
    height: 128px;
}

.box-number-red {
    background-color: red;
}

.box-number-green {
    background-color: green;
}

.box-range-big {
    background-color: black;

    width: 340px;
    height: 110px;
}

.box-range-small {
    background-color: yellowgreen;

    width: 170px;
    height: 110px;
}